$margin: 15px;

// Mobile viewport size
$mobile-view-max:                           767px; // Tablet viewport max width
$mobile-view-min:                           768px; // Tablet viewport min width

// Tablet viewport size
$tablet-view-max:                           1150px; // Tablet viewport max width
$tablet-view-min:                           1151px; // Tablet viewport min width

// Widescreen viewport size
$widescreen-view-max:                       1424px; // Widescreen viewport max width
$widescreen-view-min:                       1425px; // Widescreen viewport min width

$narrowscreen-height-max:                   820px; // Narrowscreen viewport max height
