$namespace: '.buy-button';

#{$namespace}--small {
  background-color: #e23339;
  color: #fdf0f1;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.2em;
  padding: floor(($padding * 2) / 3);
  transition: background-color .15s;
  width: 45px;
  height: 45px;

  &:hover {
    background-color: #ef3b35;
  }
}
