$namespace: '.product';

#{$namespace} {
  // width: 70%;
  // margin: 30px;
  display: flex;
  flex-direction: column;
}

#{$namespace}--container {
  display: flex;
  flex-wrap: wrap;
}

#{$namespace}--mini-overview {
  position: relative;
  height: 300px;
  flex: 1 0 15%;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 0px rgba(219,219,219,1);

  &:hover {
    border-radius: 10px 10px 0 0;

    #{$namespace}--full-overview {
      box-shadow: 0px 0px 8px 0px rgba(219,219,219,1);
      z-index: 2;
    }

    #{$namespace}--description {
      display: block;
    }
  }
}

#{$namespace}--full-overview {
  background-color: white;
  overflow: hidden;
  position: relative;
  padding: 0 $padding;
  text-align: center;
  width: 100%;
  left: 0;
  top: 0px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  .product-link-wrapper {
    min-height: 240px;
  }
}

#{$namespace}--title {
  margin-bottom: $margin;
  font-size: .9em;
  color: #494554;
  text-align: left;
}

#{$namespace}--price {
  color: #e31837;
  font-size: 1.2em;
  background-color: #AEA9BA1F;
  padding: floor($padding / 2);
  border-radius: 5px;

  .currency {
    font-size: 0.8em;
  }
}

#{$namespace}--description {
  display: none;
  margin-bottom: floor($margin * 2);
  font-size: .8em;
}

#{$namespace}--image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#{$namespace}--controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: $margin;
}

#{$namespace}--compare {
  color: #494554AA;
  cursor: pointer;

  .fa:hover {
      color: #5C52D8;
  }
}
